=form_for @user do |f|
  =f.label :login
  %br
  =f.text_field :login
  %br
  =f.label :password
  %br
  =f.password_field :password
  %br
  =f.label :name
  %br
  =f.text_field :name
  %br
  =f.label :surname
  %br
  =f.text_field :surname
  %br
  =f.label :email
  %br
  =f.text_field :email
  %br
  =f.label :info
  %br
  =f.text_area :info
  %br
  =f.submit
  
