<!DOCTYPE html>
<html>
<head>
  <title>ControllerTest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>

  <span class="log_out">
    <%=link_to 'log_out',log_out_users_path%>
    <br>
    <%=link_to 'sign_up',sign_up_users_path%>
    <br>
    <%=link_to 'sing_in',new_user_path%>
  </span>  

  <%= yield %>

</body>
</html>
